* {
  margin: 0;
  padding: 0;
}
.whole-container {
  background-color: #073763;
  height: 110vh;
  width: 100%;
}

.whole {
  display: flex;
  justify-content: space-between;
  align-items: end;
  background-color: #073763;
  height: 80px;
  box-shadow: 0px -5px 50px #141414;
}
.left img {
  padding: 20px;
}
.middle ul {
  list-style-type: none;
  display: flex;
  padding: 29px;
}
.middle li a {
  color: #fff;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  font-weight: bold;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
. .right {
  list-style-type: none;
  display: flex;
  padding: 29px;
}
.right button {
  color: #fff;
  margin: 18px;
  width: 90px;
  height: 35px;
  border-radius: 4px;
  font-weight: bold;
  font-family: ui -sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
button.right-1 {
  border: 1.8px solid white;
  background-color: #073763;
}
button.right-2 {
  border: 1.8px solid white;
  background-color: #15803d;
}
button:hover {
  cursor: pointer;
  background-color: #fff;
  color: blue;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 80px;
  color: #fff;
}
.text h3 {
  font-size: 50px;
  font-family: ui -sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  width: 40%;
  font-weight: 600px;
  line-height: 80px;
}
.text-1 {
  width: 525px;
  height: 40px;
  line-height: 40px;
  font-family: ui -sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.right-image img {
  height: 260px;
  width: 235px;
}
.button {
  padding: 80px;
}
.button button {
  height: 60px;
  width: 300px;
  font-family: ui -sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: larger;
  font-weight: bold;
  background-color: #15803d;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.button button:hover {
  cursor: pointer;
  color: #073763;
}
.white {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: ui -sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  padding: 60px;
  font-size: larger;
  color: #073763;
}
